
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    function generateQuotes() {
        $.getJSON("data/quotes.json", function(quotes) {
            var divQuotes = $("#all_quotes");
            var i;
            for (i = 0; i < quotes.length; i++) {
              divQuotes.append('<blockquote>&ldquo;' + quotes[i].quote + '&rdquo;  <cite class>' + quotes[i].author + '</cite></blockquote>');
            }
        });
    }

    $(document).ready(function() {
        generateQuotes();
    });
</script>