
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    function generateQuotes() {
        $.getJSON("data/quotes.json", function(qutoes) {
            var divQuotes = $("#quotes");
            for (var quote in quotes) {
              divQuotes.append('<blockquote><p>&ldquo;' + quote.quote + '&rdquo; <cite>' + quote.author + '</cite></p></blockquote>');
            }
        });
    }

    $(document).ready(function() {
        generateQuotes();
    });
</script>