<!--
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    function generateRandomQuote() {
        $.getJSON("/data/quotes.json", function(quotes) {
            var quotesCount = quotes.length;
            var randomIndex;
            randomIndex = Math.floor(Math.random() * quotesCount);
            var quote = quotes[randomIndex].quote;
            var author = quotes[randomIndex].author;
            var divRandomQuote = $("#random_quote");
            divRandomQuote.append('<center>' + quote + '</center><p class="author">—— ' + author + '</p>');
        });
    }

    $(document).ready(function() {
        generateRandomQuote();
    });
-->
<script type="text/javascript">
    var AllQuotes = [{% for quote in site.data.quotes %}"{{ quote.quote }}"{% unless forloop.last% }, {% endunless %}{% endfor %}]
    var AllAuthors = [{% for quote in site.data.quotes %}"{{ quote.author }}"{% unless forloop.last% }, {% endunless %}{% endfor %}]
</script>
